<h1>Home Page</h1>
<h2>Voici ce que vous pouvez choisir</h2>
<p>
    <ul>
        <li>Connection</li>
        <li>Creer un compte</li>
        <li>Creation d'un Gossip</li>
        <li><a href='<%%>'>Voir tous les Gossips</a></li>
    </ul>

</p>
