<h1>Le Gossip The Hacking Project</h1>

<p><strong>Voici ce que vous pouvez faire</strong></p>
<p>
    <ol>
        <li>Connection</li>
        <li>Creer un compte</li>
        <li>Creation d'un Gossip</li>
        <li><a href='/index' >Voir tous les Gossips</a></li>
    </ol>

</p>