<h1>Profil</h1>
<h2>Voici les informations concernant cette personne</h2>

<p><strong><%= User.find(@id).first_name%></strong></p>
<p><strong><%= User.find(@id).last_name%></strong></p>
<p><em><%= User.find(@id).city%></em></p>


