<h1>Profil</h1>
<h2>Voici les informations concernant cette personne</h2>

<p><strong><%= User.find(@index).first_name%></strong></p>
<p><strong><%= User.find(@index).last_name%></strong></p>
<p><em><%= User.find(@index).city%></em></p>


